#western-teams {
    float: left;
    text-align: left;
}
#eastern-teams {
    float: right;
}

#heading {
    text-align: center;
}

#headingImage {
    width: 500px;
    height: auto;
}

#western-teams {
    
}


#centerimage {
    text-align: center;
    display: flex;
    width: 300px;
    height: 300px;
    padding-left: 25%;
}


#background {
    background-image: url('https://wallpapercave.com/wp/wp2825243.jpg');
    background-repeat: no-repeat;
}
#western-teams {
    width: 300px;  
    height: auto;  
    text-align: center;  
    padding: 15px;  
    border: 3px solid blue;  
    margin-top: -600px;
    color: white;
}
#eastern-teams {
    width: 300px;  
    height: auto;  
    text-align: center;  
    padding: 15px;  
    border: 3px solid red;  
    margin-top: -600px;
    color: white;
}
#imageholder1 {
    padding: 100px;
}
#simButton {
    border: none;
    display: flex;
    color: grey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#deleteButton {
    border: none;
    display: flex;
    color: grey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#buttons {
    padding-left: 725px
}