#western-teams {
    float: left;
    text-align: left;
}
#eastern-teams {
    float: right;
}
#heading {
    text-align: center;
}
#headingImage {
    width: 500px;
    height: auto;
}
#western-teams {
}
#centerimage {
    text-align: center;
    display: flex;
    width: 300px;
    height: 300px;
    margin-left: 50%;
    transform: translate(-150%);
}
#background {
    outline: 2px solid black;
    background-image: url('https://wallpapercave.com/wp/wp2825243.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80%;  
}
#western-teams {
    width: 300px;  
    height: auto;  
    text-align: center;  
    padding: 15px;  
    /* border: 3px solid rgb(255, 0, 0);   */
    margin-top: -600px;
    color: rgb(255, 255, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
#eastern-teams {
    width: 300px;  
    height: auto;  
    text-align: center;  
    /* padding: 15px;   */
    /* border: 3px solid rgb(4, 0, 255);   */
    margin-top: -600px;
    color: white;
}
#imageholder1 {
    padding: 100px;
}
#simButton {
    border: none;
    display: flex;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: green;
}
#deleteButton {
    border: none;
    display: flex;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: red;
}
#buttons {
    text-align: center;
}
body {
    background-image: url('https://wallpapercave.com/wp/wp2825243.jpg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
#displayhere{
    background-color: rgb(126, 124, 121);
}